@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *,
  *::after,
  *::before {
    box-sizing: border-box;
  }

  :root {
    font-size: 14px;
    --color-text: #a0a0a0;
    --color-bg: #151515;
    --color-link: #696969;
    --color-link-hover: #fff;
  }

  body {
    margin: 0;
    color: var(--color-text);
    background-color: var(--color-bg);
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    overscroll-behavior: none;
    height: 100%;
    user-select: none;
    -webkit-user-select: none;
  }

  .wrapper {
    position: relative;
    width: '100vw';
    height: '100vh';
    overflow: auto;
    touch-action: auto;
  }

  .scene {
    position: 'fixed';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: auto !important;
  }
}
